body{
  color: white;
  background-color: #414770;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;

}

html {
  scroll-behavior: smooth;
}


ul{
    display:flex;
    justify-content:space-evenly;
    list-style-type: none;
    align-items:center;
    background-color: #414770;
    z-index: 1;

}

a{
  color: white;
  text-decoration: none;
}

.imagem2 {
    position:relative;
    width:100%;
    height: auto;
    
}
.texto-sobre-imagem {
    position:absolute;
    top: 3%; 
    left: 5%; 
    right: 50%;
    padding: 10px;
    z-index: 1;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.texto-imagem2 {
    position:absolute;
    top: 18%; 
    left: 5%; 
    right: 50%;
    padding: 10px;
    z-index: 1;
    text-align: left;
    font-weight: lighter;
    font-size: 12pt ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
.texto-centro {
    position:absolute;
    top: 75%; 
    left: 20%; 
    right: 20%;
    padding: 10px;
    z-index: 1;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  }
  .texto-centro2 {
    position:absolute;
    top: 83%; 
    left: 20%;
    padding: 10px;
    z-index: 1;
    text-align: center;
    font-size: 12pt ;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
.botao-amarelo {
    border-radius: 20px;
    background-color:#ffcc00;
    position: absolute; 
    top: 60%; 
    left: 6%; 
    color:white;
    padding: 20px;
    text-decoration: none;
    transition: background-color 0.5s ease;
    z-index: 1;
  }
.botao-amarelo:hover {
    background-color:#414770;
    color: white;
  }

/* SESSÃO SERVICOS*/
.subtitulo-branco {
  text-align: center;
  color:white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}
.servicos{
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
    align-items:center; 
    padding-bottom: 30px;
}
.servico {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    transition: background-color 0.3s ease;
    transition: color 0.3s ease;
    color:#414770;
  
  }

.servico:hover {
    background-color: #ffcc00; 
    color: white;
}
/* SESSÃO A EMPRESA */ 
.subtitulo-azul{
    color:#414770;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.empresa-centro{
  color:#414770;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  padding-left:250px;
  padding-right: 250px;
  padding-bottom: 500px;
}

.botao-azul {
    top: 250%; 
    left: 35%; 
    right: 35%;
    border-radius: 20px;
    background-color:#ffcc00;
    color:white;
    position:absolute;
    padding:20px;
    text-decoration: none;
    transition: background-color 0.5s ease;
  }
.botao-azul:hover {
    background-color:#414770;
    color: white;
}

.fundo-branco {
   background-color:white;
}
section{
  width:100%;
  height: 400px;
  padding: 0.5px;
}
/* SESSÃO FALE CONOSCO */
.fundo-azul {
  background-color:#414770;
}

.info-contato{
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   color:white;
   text-align:left; 
   padding-left: 50px;
}  

.forms{
  float: right;
  position:relative;
  padding-right: 50px;
  top: -302px;
  height: 200px;
}


.titulo-form{
  padding-top: 1px;
  font-size: 20pt;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#414770;
}

.formulario{
    align-content: space-between;
    background-color: #f0f0f0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    color:#414770;
    width: 500px;
  } 
   
 input[type="text"],
 input[type="email"],
 textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

 input[type="submit"] {
  background-color:#ffcc00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

 input[type="submit"]:hover {
  background-color:#414770;
}

 label {
  color:#414770; 
}

.footer {
  display:flex;
  color: #fff; 
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 0px;
  width: 100%;
  justify-content: space-between;
  align-items:first baseline;
}

.icones-footer {
  display:flex;
  padding-right: 95px;
  font-size: 24px;
}

.icones-footer div {
  margin-right: 10px; 
}
